@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #D7D7D7;
  margin: 0;
}

h1, h2 {
  font-family: "raleway", sans-serif;
  font-weight: bold;
}

.site-header {
  width: 100%;
}

.section {
  width: 100%;
}

.container {
  padding: 1rem;
}

.section-header {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.section-title {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 138%;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 3rem;
  border: solid 4px black;
  padding: 1vh 2vw;
  margin-block: 0;
  margin: 6rem 0 4rem 0;
}

h4 {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 138%;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 9rem 0 10rem 0;
}

.hidden {
  display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  box-sizing: border-box;
}
.menu_toggle {
  position: fixed;
  background-color: #d7d7d7;
  top: 25px;
  right: 25px;
  padding: 0.2rem 0.6rem;
  z-index: 3;
  display: block;
  cursor: pointer;
  width: auto;
}
.menu_items {
  background-color: rgba(0, 0, 0, 0.6);
}
.menu_items.open {
  transform: translate3d(0, 0, 0);
  transition: all 200ms ease-out;
}
.menu_items.closed {
  transform: translate3d(100%, 0, 0);
  transition: all 200ms ease-out;
}
.menu_items a {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  margin: 1em 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 1em;
  font-size: 1.7rem;
  border-radius: 1.5625em;
  white-space: nowrap;
  background-color: black;
}
.menu_items a:hover, .menu_items .active {
  background-color: #fff;
  color: black;
}

#menu_pc, #menu_scrolldown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#menu_pc a, #menu_scrolldown a {
  margin: 2rem;
}

#menu_pc {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#menu_scrolldown a {
  padding: auto;
  width: auto;
}

#nav-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 4rem;
  width: 100%;
  background: black;
}

#menu_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  background: rgb(215, 215, 215);
  background: linear-gradient(100deg, rgb(215, 215, 215) 50%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 50%);
}

.home #home_header {
  justify-content: flex-start;
}
.home_container {
  padding-top: 0;
  padding-bottom: 0;
}
.home_title {
  font-size: 4rem;
}
.home_name {
  font-size: 8rem;
  margin: 0;
}
.home_occupation {
  font-size: 2.5rem;
  font-weight: 800;
}
.home_photo {
  width: 60%;
  display: block;
  margin: auto auto 0 auto;
}
.home_menu > * {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}
.home_text {
  display: flex;
  justify-content: center;
}
.home_text .home_centering {
  display: block;
  text-align: left;
}
.home_occupation {
  margin-top: 5rem;
  color: #909090;
}
.home_title {
  margin-block: 0;
  margin-left: 0;
  text-align: start;
}
.home_icons {
  display: flex;
}
.home_icons > a {
  margin-right: 6rem;
  margin-top: 7rem;
  background-color: #C4C4C4;
  padding: 0.6rem;
}
.home_photo {
  display: block;
  margin-bottom: 0;
}

#linkedin {
  margin-right: 0;
}

/*--------------------------------------------------------------------------------------------------
quote*/
.quote {
  color: white;
  background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
}
.quote_title {
  padding-left: 4rem;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  margin-block: 0;
  font-weight: 700;
  line-height: 138.68%;
  letter-spacing: 18.54%;
}
.quote_title h5 {
  margin: 2rem 0;
}
.quote_text {
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.5rem;
  text-align: justify;
  padding-bottom: 3rem;
}
.quote_link {
  padding-bottom: 3rem;
}
.quote_link a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Mont Serrat";
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  padding: 1rem;
  margin-left: 4rem;
  border-left: solid 2px white;
  border-right: solid 2px white;
}

/*--------------------------------------------------------------------------------------------------------------------------
skills stile*/
.skills_names {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.2rem;
}

#first_skills_header {
  margin-top: 0;
}

/*-------------------------------------------------------------------------------------
portfolio stile*/
.portfolio {
  padding: 0;
}
.portfolio_images {
  width: 100%;
  height: auto;
}
.portfolio_nav {
  background-color: #1A1A1A;
  width: 100vw;
  padding: 5vh 0;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.portfolio_nav a {
  color: #7c7c7c;
  border-bottom: solid 3px #7c7c7c;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 17px;
  padding: 1vh 2vh;
  text-transform: uppercase;
}
.portfolio_nav a:hover, .portfolio_nav .active {
  border-color: white;
  color: white;
  background-color: inherit;
}
.portfolio_gallery .slides {
  display: none;
}
.portfolio_gallery .shown {
  display: grid;
  grid-gap: 0;
}

/*------------------------------------------------------------------------------
contact */
.contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .form > div {
  width: 40%;
}
.contact .form > div input, .contact .form > div textarea {
  color: #909090;
  margin: 0 auto;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top-style: hidden;
  border-right-style: hidden;
  width: 100%;
  padding: 1vh;
  background-color: inherit;
  margin-bottom: 6rem;
}
.contact .form > div input:focus, .contact .form > div textarea:focus {
  outline: none;
}
.contact .form > div textarea {
  height: 10vh;
  resize: none;
}
.contact .form > div > * {
  border: none;
  background-color: inherit;
  margin-top: 3vh;
}
.contact .form > div .button {
  width: auto;
  padding: 1vh 2vw;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: hidden;
  display: flex;
}
.contact .form > div .button:hover {
  border-color: rgba(212, 0, 0, 0.39);
}

#server_message {
  font-family: "raleway", sans-serif;
  font-size: 2rem;
  padding-left: 2rem;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

/*---------------------------------------------------------------------------------------------
footer*/
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: 5vh 1rem;
}
.footer > * {
  margin-bottom: 3rem;
  text-align: center;
  color: white;
}
.footer a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1em;
  line-height: 138%;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  color: white;
}
.footer p {
  font-family: "Open Sans";
  font-size: 1em;
  line-height: 138.68%;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #menu_mobile {
    display: block;
  }
  #nav-wrapper, #menu_pc {
    display: none !important;
  }
  #home_header, .home_icons {
    justify-content: center !important;
  }
  .home_centering {
    text-align: center !important;
    margin-top: 3rem !important;
  }
  .form > div {
    width: 80% !important;
  }
  h4 {
    text-align: center !important;
  }
}
@media (min-width: 769px) {
  #menu_mobile, .menu_toggle {
    display: none !important;
  }
  #nav-wrapper {
    display: grid;
  }
  #menu_pc {
    display: flex;
  }
}
@media (max-width: 1482px) {
  #menu_pc, #menu_scrolldown {
    width: 100%;
    background-color: black;
    justify-content: space-around;
  }
  .home {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .home_photo {
    width: 80%;
  }
}
@media (max-width: 1050px) {
  .home_photo {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */